<!DOCTYPE html>
<html lang="en" ng-app="index">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/logo.png">

    <title>Tireman Center</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="assets/css/animate.min.css">
    <script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/modernizr.custom.js"></script>
	

	
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

	<script src="assets/js/angular.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/mainA.js"></script>
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
		<nav class="navbar navbar-default  hidden-xs hidden-sm" ng-controller="menu as mn">
				<div class="container-fluid">
				  <div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img src="{{mn.logo}}" width="150px"> 
					</a>
				  </div>
				  <div class="menu-contenido">
						<ul class="nav navbar-nav navbar-right">
								<li  ng-repeat="itema in mn.redes">
									<a href="{{itema.url}}" target="_blank" ><i class="{{itema.img}}"></i></a>
								</li>
								<li>
									<a href="mailto:{{mn.email}}}?Subject=Me%20interesan%20sus%20servicios" target="_top"><i class="fa fa-envelope"></i></a>
								</li>
						</ul><br>
						<ul  id="principal" class="nav navbar-nav">
							<li  ng-repeat="itema in mn.menu"><a href="{{itema.url}}" class="smoothScroll"  scroll-to-bookmark="{{itema.url}}" >{{itema.titulo}}</a></li>			
						</ul>
				  </div>
				  
				</div>
			</nav>	
	<!-- Menu -->
	<nav class="menu" id="theMenu" ng-controller="menu as mn" >
		<div class="menu-wrap">
			<h1 class="logo"><a href="#home" scroll-to-bookmark="#home">{{mn.title}}</a></h1>
			<i class="icon-remove menu-close"></i>			

			<a href="{{itema.url}}" class="smoothScroll"  scroll-to-bookmark="{{itema.url}}"  ng-repeat="itema in mn.menu" >{{itema.titulo}}</a>			

			<div ng-repeat="itema in mn.redes">
					<a href="{{itema.url}}" target="_blank" ><i class="{{itema.img}}"></i></a>
			</div>
			<a href="mailto:{{mn.email}}}?Subject=Me%20interesan%20sus%20servicios" target="_top"><i class="fa fa-envelope"></i></a>
		</div>
		
		<!-- Menu button -->
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>


	
	<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home" ng-controller="home as hm"  scroll-bookmark="home" >
	<div id="headerwrap">
		<div class="container">
			<div class="logo hidden-md hidden-lg">
				<img src="{{hm.logo}}" width="250px"> 
			</div>
			<br>
			<div class="row texto">
				<!--<img class="animated fadeInDownBig" src="{{hm.logo}}">
				<h1>{{hm.title}}</h1> -->
				<br>
				<h3 class="animated zoomInUp" >{{hm.subtitle}}</h3>
				<br>
				<br>
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	</section>
	<section id="marcas" ng-controller="marcas as ms" >
		<div class="container">
			<data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: false, rewindNav : false, items:4, loop:true,  margin:25, autoplay:true, autoplayHoverPause:true}">
						<div owl-carousel-item="" ng-repeat="item in ms.marcas" class="item">
							<img src="{{item.url}}" alt="{{item.title}}" ng-if="item.url!=''">
				</div>
			</data-owl-carousel>
		</div>
			
	</section>
	
	
	<!-- ========== ABOUT SECTION ========== -->
	<section id="about" name="about" ng-controller="quienes_somos as qs" scroll-bookmark="about" >
		<div class="f">
			<div class="container">
				<div class="row">
					<h3 >{{qs.title}}</h3>
					<p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>
					
					<!-- INTRO INFORMATIO-->
					<div class="col-lg-6 col-lg-offset-3">
						<p>{{qs.parrafo}}</p>						
					<!--	<p><button type="button" class="btn btn-warning">{{qs.boton.title}}</button></p>-->
					</div>								
				</div>
			</div><!-- /container -->
		</div><!-- /f -->
	</section>
	
	
	<section>
			<div class="untitled">
					<div class="untitled__slides">
						<div class="untitled__slide">
							<div class="untitled__slideBg"></div>
							<div class="untitled__slideContent">
								<span>Asesoría</span> 
								<span>Técnica</span>
								<!--<a class="button" href="https://unsplash.com/@scoutthecity" target="/black">Conoce Más</a>-->
							</div>
						</div>
						<div class="untitled__slide">
							<div class="untitled__slideBg"></div>
							<div class="untitled__slideContent">
								
								<span>Pagos</span> 
								<span>Ágiles</span>
								<span><i class="fa fa-cc-visa" aria-hidden="true"></i>
									  <i class="fa fa-cc-mastercard" aria-hidden="true"></i><br>
									  <i class="fa fa-cc-diners-club" aria-hidden="true"></i>
									  <i class="fa fa-cc-amex" aria-hidden="true"></i>
								</span>
								<!--<a class="button" href="https://unsplash.com/@madbyte" target="/black">Unsplash Profile</a>-->
							</div>
						</div>
						<div class="untitled__slide">
							<div class="untitled__slideBg"></div>
							<div class="untitled__slideContent">
								<span>Convenios  </span> 
								<span>Corporativos</span>
								<!-- <a class="button" href="https://unsplash.com/@maicoamorim" target="/black">Unsplash Profile</a>-->
							</div>
						</div>
						<div class="untitled__slide">
							<div class="untitled__slideBg"></div>
							<div class="untitled__slideContent">
								<span>Clientes</span> 
								<span>Satisfecos</span>
								<!--<a class="button" href="https://unsplash.com/@mariocalvo" target="/black">Atendidos</a>-->
							</div>
						</div>
					</div>
					<div class="untitled__shutters"></div>
				</div>
			</div>
	</section>

	<!-- ========== CAROUSEL SECTION ========== -->	
	<section id="portfolio" name="portfolio" ng-controller="servicios as ss" scroll-bookmark="portfolio">
	<div class="f">
		<div class="container">
			<div class="row centered">
				<h3>{{ss.title}}</h3>
				<p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>
				<div class="col-lg-6 col-lg-offset-3">
					<p>{{ss.parrafo}}</p>
				</div>				
			</div><!-- row -->
			<div class="row centered">
				<div class="col-lg-4  col-sm-6 col-xs-12 itemService" ng-repeat="item in ss.list track by $index " ng-if="item.status" >
					<div class="contendio">
							<img src="{{item.img}}" width="200" class="image">
							
							<div class="overlay" ng-if=" $index % 2 == 0" >
								<div class="container text"><h1>{{item.title}}</h1><p>{{item.descp}}</p> </div>
							</div>
							<div class="overlayr" ng-if=" $index % 2 != 0" >
								<div class="container text"><h1>{{item.title}}</h1><p>{{item.descp}}</p> </div>
							</div>
					</div>
					
				</div><!-- col-lg-8 -->
				
			</div>
			<div class="row centered">
				<div class="col-lg-12">
					<p>
						<i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>
						<a  ng-click="ss.viewmore()" class="animated infinite pulse" >{{ss.buttomText}} </a>
						<i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i>
					</p>
				</div>
			</div>
		</div><!-- container -->
		
	</div>	<!-- f -->
	</section>
	<section id="marcas" ng-controller="carros as car" >
		<div id="carros" class="container">
			<data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: false, rewindNav : false, items:5, rtl: true, loop:true,  margin:5, center:true, autoplay:true, autoplayHoverPause:true}">
						<div owl-carousel-item="" ng-repeat="item in car.carros" class="item">
							<img src="{{item.url}}" alt="{{item.title}}" ng-if="item.url!=''">
				</div>
			</data-owl-carousel>
		</div>
			
	</section>
	<!-- ========== CONTACT SECTION ========== -->
	<section id="contact" name="contact" ng-controller="contacto as ct" scroll-bookmark="contact">
			<div id="map"></div>
	<div class="f">		
		<div class="container">
			<div class="row">
				<h3>{{ct.title}}</h3>
				
				<p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>
				
				<div class="col-lg-6 col-lg-offset-3">
					<p>{{ct.dirreccion}}<br/>{{ct.ciudad}}<br/>{{ct.telefono}}</p>
					<p>{{ct.email}}</p>
					<p><button type="button" class="btn btn-warning animated infinite pulse" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"><span class="fa fa-envelope"></span> Escríbenos </button></p>				
					<p class="redes" >
							<a href="{{itema.url}}" ng-repeat="itema in ct.redes" target="_blank" ><span class="{{itema.img}}"></span></a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form action="" novalidate name="form_contact">				
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Tu opion es importante </h4>
					
					</div>
					<div class="modal-body">
						<div id="mensaje"></div>
							<div class="row">
								<div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
									<div class="form-group">
										<label for="email">E-mail</label>
										<input type="email" class="form-control" id="Email" name="Email" ng-model="datosf.Email" placeholder="ejemplo@correo.com" required>
										<span class="fa fa-exclamation-circle" aria-hidden="true" ng-show="!form_contact.Email.$pristine && form_contact.Email.$error.required">  El Email es requerido.</span>
										<span class="fa fa-exclamation-circle" aria-hidden="true" ng-show="!form_contact.Email.$pristine && form_contact.Email.$error.email">  Por favor Ingrese un Email valido</span>
									</div>
								</div>
								<div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
									<div class="form-group">
										<label for="Name">Nombre</label>
										<input type="text" class="form-control" id="Name" name="Name" ng-model="datosf.Name" placeholder=" juanito perez" required >
										<span class="fa fa-exclamation-circle" aria-hidden="true" ng-show="!form_contact.Name.$pristine && form_contact.Name.$error.required">  El Nombre es requerido.</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
									<div class="form-group">
										<label for="Subject">Asunto</label>
										<input type="text" class="form-control" id="Subject" name="Subject" ng-model="datosf.Subject" placeholder="Información de ventas" required >
										<span class="fa fa-exclamation-circle" aria-hidden="true" ng-show="!form_contact.Subject.$pristine && form_contact.Subject.$error.required">  Un Asunto es requerido.</span>
									</div>
								</div>
								<div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
									<div class="form-group">
										<label for="exampleInputPassword1">¿Qué servicio le interesó?</label>
										<select  id="Service" name="Service" ng-model="datosf.Service"class="form-control">	
											<option value="{{itema.title}}" ng-repeat="itema in ct.list" >{{itema.title}}</option>			
										</select>
									</div>
								</div>
							</div>				
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
									<label for="Mensaje">Mensaje</label>
									<textarea class="form-control"  id="Mensaje" name="Mensaje" ng-model="datosf.Mensaje" cols="30" rows="10" required ng-minlength="20" > Deseo más informacíon sobre ..</textarea>
									<span class="fa fa-exclamation-circle" aria-hidden="true" ng-show="!form_contact.Mensaje.$pristine && form_contact.Mensaje.$error.required">  El Mensaje es requerido.</span>
			  	<span class="fa fa-exclamation-circle" aria-hidden="true" ng-show="!form_contact.Mensaje.$pristine && form_contact.Mensaje.$error.minlength">  Minimo caracteres: 20.</span>
								</div>
							</div>			
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerar</button>
					<button type="button" class="btn btn-warning" ng-disabled='!form_contact.$valid' >Enviar </button>
					<span  class="fa fa-exclamation-triangle" aria-hidden="true"  ng-click="ct.enviarDatos(datosf)" ng-show="!form_contact.Subject.$pristine && !form_contact.Email.$pristine && !form_contact.Mensaje.$pristine && !form_contact.$valid">
							<strong>Datos Incorrectos!!!</strong>  Por favor, revise que la informacion sea correcta </span> 	
					</div>
				</form>
			</div>
			</div>
		</div>
	</section>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="./assets/js/classie.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/smoothscroll.js"></script>
	
	<script src="assets/js/main.js"></script>
	<script>
			function initMap() {
			  var uluru = {lat: -0.212706, lng: -78.487946};
			  var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 17,
				center: uluru
			  });
			  var marker = new google.maps.Marker({
				position: uluru,
				map: map
			  });
			}
		  </script>
		  <script async defer
		  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzk65f0J3xWA9byPUkWdlpRBx2bY6fei4&callback=initMap">
		  </script>
</body>
</html>
